<!DOCTYPE html>
<html lang="en">
  <head>
    <title><%= title %></title>
  </head>

  <body>
    <h1><%= title %></h1>

    <%- include("partials/errors.ejs") %>

    <form
      action="/create
    "
      method="POST"
    >
      <label for="firstName">First Name: </label>
      <input
        type="text"
        name="firstName"
        id="firstName"
        required
        placeholder="name..."
      />

      <label for="LastName">Last Name: </label>
      <input
        type="text"
        name="lastName"
        id="lastName"
        required
        placeholder="last name..."
      />

      <label for="email">Email:</label>
      <input
        type="email"
        name="email"
        id="email"
        required
        placeholder="something@something.something"
      />

      <label for="age">Age: </label>
      <input type="number" name="age" id="age" placeholder="18" />

      <label for="bio">Bio</label>
      <textarea
        name="bio"
        id="bio"
        placeholder="Something about yourself..."
        maxlength="200"
      ></textarea>

      <button type="submit">Submit</button>
    </form>

    <a href="/">Back to home</a>
  </body>
</html>
