<!DOCTYPE html>
<html lang="en">
  <head>
    <title><%= title %></title>
  </head>

  <body>
    <h1><%= title %></h1>

    <form action="/search" method="GET">
      <label for="search">Search for user</label>
      <input type="text" name="search" id="search" />
      <button type="submit">Search</button>
    </form>

    <a href="/">Back to home</a>
  </body>
</html>
